body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: #333;
}

.Headers {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 2.5em;
    text-align: center;
    margin-top: 0;
    color: #007BFF;
    animation: fadeInDown 2s;
}

h2 {
    font-size: 2em;
    margin-top: 20px;
}

h3 {
    font-size: 1.4em;
    margin: 15px 0;
}

.Footer {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    font-size: 1.2em;
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
